In [1]:
# Trabajo en clase
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 20.5
print(type(x))

<class 'float'>

In [4]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [5]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [6]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [7]:
x = True
print(type(x))

<class 'bool'>

In [10]:
x = 5
x = float(x)
print(type(x))

<class 'float'>

In [11]:
x = 5.5
x = int(x)
print(type(x))

<class 'int'>

In [12]:
x = 5
x = complex(x)
print(type(x))

<class 'complex'>

In [13]:
x = "Hello World"
print(len(x))

11

In [16]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [18]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [19]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [20]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [21]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [22]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [25]:
age = 36
estatura = 1.60
txt = "My name is John, and I am {1} y mi estatura es {0}"
print(txt.format(age,estatura))

My name is John, and I am 1.6 y mi estatura es 36

In [26]:
print(10 > 9)

True

In [27]:
print(10 == 9)

False

In [28]:
print(10 < 9)

False

In [29]:
print(bool("abc"))

True

In [30]:
print(bool(0))

False

In [31]:
print(10 * 5)

50

In [32]:
print(10/2)

5.0

In [33]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [34]:
if 5 != 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [35]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

In [36]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [38]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits[0])

kiwi

In [39]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [41]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [43]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [44]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [45]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [46]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [47]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [48]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [49]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [50]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

In [51]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [52]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [53]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [55]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [56]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [57]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [58]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [59]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
car.clear()
print(car)

{}

In [5]:
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [6]:
a = 50
b = 10
if a != b:
    print("Hello World")

Hello World

In [7]:
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

In [9]:
a = 50
b = 10
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

In [1]:
a= 10
b=10
c=5
d=5
if a == b and c == d:
    print("Hello")

Hello

In [2]:
a= 10
b=10
c=5
d=5
if a == b or c == d:
  print("Hello")

Hello

In [3]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2: print("Yes")
else: print("No")

Yes

In [6]:
print("Yes") if 5 > 2  else print("No")

Yes

In [8]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [6]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [7]:
i = 0
while i < 6:
    i += 1
    if i == 3:   
        continue
    print(i)

1
2
4
5
6

In [9]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":   
        continue
    print(x)

apple
cherry

In [12]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":   
        break
    print(x)

apple

In [15]:

def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [16]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [21]:
def my_function(fname, lname):
    print(fname)
my_function("Roger","Pozo")

Roger

In [22]:
def my_function(x):
    return x + 5
my_function(10)

15

In [24]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Josue","Carlos","YO","ME")

The youngest child is YO

In [26]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
my_function(lname = "sandro")

His last name is sandro

In [27]:
x = lambda a:a
print(x)

<function <lambda> at 0x00000171FA2F0A68>

In [29]:
class MyClass:
    x = 5
p1 = MyClass()

In [31]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1)

<__main__.MyClass object at 0x00000171FA203848>

In [32]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

5

In [36]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("Roger",27)
print(p1.name)

Roger

In [37]:
class Student(Person):

SyntaxError: unexpected EOF while parsing (<ipython-input-37-093e6922bbd9>, line 1)

In [38]:
class Person:
    def __init__(self, fname):
        self.firstname = fname

    def printname(self):
        print(self.firstname)

class Student(Person):
    pass

x = Student("Mike")
x.printname()

Mike

In [39]:
import mymodule

ModuleNotFoundError: No module named 'mymodule'

In [40]:
import mymodule as mx

ModuleNotFoundError: No module named 'mymodule'

In [41]:
from mymodule import person1

ModuleNotFoundError: No module named 'mymodule'

In [ ]:
import mymodule
print(dir(mymodule))
# sirve para imprimir todas las variable y funciones de nuestro modulo